.App {
  text-align: center;
}

#input-wrapper {
  margin-top: 12vh;
}

#search-input {
  border-style: solid;
  width: 40%;
  border-radius: 8px;
  color: #04d9d9;
  border-color: #04d9d9;
  margin-inline-start: 10px;
  border-width: 0.25vh;
  font-size: 1rem;
  padding: 1.5vh;
  outline: none;
}

#search-input:focus {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(86, 180, 211, 1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(86, 180, 211, 1);
  box-shadow: 0px 0px 14px 0px rgba(86, 180, 211, 1);
}

h2 {
  color: #04d9d9;
}

#exampleSelect {
  border-radius: 8px;
  color: #04d9d9;
  border-color: #04d9d9;
  margin-inline-start: 10px;
  border-width: 0.25vh;
  font-size: 1rem;
  padding: 1.5vh;
  font-weight: bold;
  outline: none;
  margin: 0;
}

#exampleSelect:focus {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(86, 180, 211, 1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(86, 180, 211, 1);
  box-shadow: 0px 0px 14px 0px rgba(86, 180, 211, 1);
}

#search-div {
  margin: 5vh auto;
  width: 60%;
  height: auto;
}

.card {
  padding: 2.5vh;
  border: 1px solid #e5e5e5;
  border-radius: 0.3rem;
  margin-bottom: 1vh;
  text-align: left;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms linear 5000ms;
}

.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 5000ms linear;
}
.fade-exit-done {
  opacity: 0;
}

#loader-div {
  position: absolute;
  width: 100%;
  height: auto;
  padding-top: 30vh;
  opacity: 1;
  top: 0;
}

#input-wrapper {
  opacity: 0;
}

.fadeIn {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.fadeOut {
  -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s; /* Firefox < 16 */
  -ms-animation: fadeout 2s; /* Internet Explorer */
  -o-animation: fadeout 2s; /* Opera < 12.1 */
  animation: fadeout 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#notfound {
  height: 30vh;
  width: 50%;
  margin-top: 10vh;
}

h3,
h4 {
  color: #e84747;
  margin-bottom: 0;
}

.imp {
  color: #04d9d9;
}

#footer {
  color: #04d9d9;
  position: fixed;
  padding: 2vh 2vh;
  bottom: 0;
  right: 0;
}
